*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url('mri.webp');
    background-size: cover;
    background-position: fixed;
}
.navbar{
      background-color: #fff;
   
   overflow: hidden;
   
   
 
}
.navbar a{
   
 float: right;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 font-family: 'Times New Roman', Times, serif;
}

  .navbar a:hover{
    display: inline-block;
    color: black;
    background-color: steelblue;
  
  }
  .navbar p{
    color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 font-family: 'Times New Roman', Times, serif;
  }
 
  
  
 
.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
    position:  relative; right: 10px;
    float: left;
    padding-top: 8px;
 
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.content h1{
    font-size: 70px;
    margin-top: 76px;
    font-family: serif;
    color: black;
}
.content p{
    margin: 10px auto;
   font-size:15px;
    line-height: 1px;
    color: black;
    font-family: serif  ;
}
.button-about{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button-about {
    background-color: white; 
    padding-left: 60px ;
    padding-right: 60px;
    color: black; 
    border: 2px solid steelblue;
    margin-left: 500px;
font-family: serif;
font-size: 20px;
  }
  
  .button-about:hover {
    background-color: #008CBA;
    color: white;
  }
  
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border: black ;
   
    border-radius: 15px;
   
overflow:hidden ;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20x 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor :pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height:100%;
    background: linear-gradient(to right, skyblue, steelblue);
    border-radius: 30px;
    transition: .5s;
    line-height: 7px;
}
.input{
    top:150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    line-height: 6px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.input-field{
    width: 100%;
    padding:10px 0;
margin: 5px 0;

border-left: 0;
border-right: 0;
border-top: 0;
outline:none;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
background: transparent;
border-bottom: 1px solid #999;
line-height: 4px;}
.submit{
    padding-top: 20px;
    width: 85%;
    padding: 15px 35px;
    cursor:pointer;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: auto;
    background: linear-gradient(to right, skyblue, steelblue);
    border: 0;
    outline: none;
    border-radius: 30px;
    line-height: top 9px;
    font-size: medium;
}
#login{
    left:4px;
   padding-left: 60px;
}
#register{
    left: 450px;
}
.selecttype{
    width: 200px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    
}
.styletext{
    color: steelblue;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 font-family: 'Times New Roman', Times, serif;
}