
*{
  margin: 0;
  padding: 0;

}

.aboutbody{
margin: 0;
padding: 0;
overflow: hidden;

}
.login{
margin: 0;
padding: 0;
font-family: sans-serif;
overflow: hidden;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url('mri.webp');
  background-size: cover;
  background-position: fixed;
}
.navbar{
    background-color: #fff;
 overflow: auto;
 
}
.banner_about{
  width: 100%;
  height: 100vh;
  background: url('bgabout.jpg') no-repeat center center fixed;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
 
  background-attachment: fixed;
}
.navbar a{
 
float: right;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover{
  display: inline-block;
  color: black;
  background-color: steelblue;

}
.navbar p{
  color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}




.logo{
  width: 200px;
  height: auto;
  cursor: pointer;
  position:  relative; right: 10px;
  float: left;
  padding-top: 8px;

}

.banner_login{
width: 100%;
height: 100vh;
background-image: url('mri.webp');
background-size: cover;
background-position: fixed;
}
.navbar_login{
  background-color: #fff;


}
.navbar_login a{

float: right;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}

.navbar_login a:hover{
display: inline-block;
color: black;
background-color: steelblue;

}
.navbar_login p{
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}




.logo_login{
width: 200px;
height: auto;
cursor: pointer;
position:  relative; right: 10px;
float: left;
padding-top: 8px;

}




.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 70px;
  margin-top: 76px;
  font-family: serif;
  color: black;
}
.content p{
  margin: 10px auto;
 font-size:15px;
  line-height: 1px;
  color: black;
  font-family: serif  ;
}
.button-about{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-about {
  background-color: white; 
  padding-left: 60px ;
  padding-right: 60px;
  color: black; 
  border: 2px solid steelblue;
  margin-left: 500px;
font-family: serif;
font-size: 20px;
}

.button-about:hover {
  background-color: #008CBA;
  color: white;
}

.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border: black ;
 
  border-radius: 15px;
 
overflow:hidden ;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20x 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor :pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}



#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height:100%;
  background: linear-gradient(to right, skyblue, steelblue);
  border-radius: 30px;
  transition: .5s;
  line-height: 7px;
}
.input{
  top:150px;
  position: absolute;
  text-align: center;

  width: 280px;
  transition: .5s;
  line-height: 6px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}
.input-field{
  width: 100%;
  padding:10px 0;
margin: 5px 0;

border-left: 0;
border-right: 0;
border-top: 0;
outline:none;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
background: transparent;
border-bottom: 1px solid #999;
line-height: 4px;}
.submit{
  padding-top: 20px;
  width: 85%;
  padding: 15px 35px;
  cursor:pointer;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin: auto;
  background: linear-gradient(to right, skyblue, steelblue);
  border: 0;
  outline: none;
  border-radius: 30px;
  line-height: top 9px;
  font-size: medium;
}
.submit:hover {
transform: scale(1.05); /* Increase size on hover */
transition: transform 0.4s; /* Add a smooth transition effect */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}
.close-btn:hover {
transform: scale(1.5); /* Increase size on hover */
transition: transform 0.4s; /* Add a smooth transition effect */
}
.toggle-btn:hover {
transform: scale(1.04); /* Increase size on hover */
transition: transform 0.4s; /* Add a smooth transition effect */
}
.close-btn {
position: absolute;
bottom: 50px;  
float: right; left: 280px;
background: none;
border: none;
font-size: 15px;
color: #999;
cursor: pointer;
z-index: 2; /* Make sure it's above other elements */
}


#login{
  left:4px;
 padding-left: 100px;
}
#register{
  left: 450px;
}
.selecttype{
padding-top: 15px;
  width: 200px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  
}
.styletext{
  color: steelblue;
text-align: center;
padding: 14px 16px;
padding-bottom: 15px;
text-decoration: none;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}

.doctor{
align-items: center; 
grid-template-columns: 1fr 1fr 1fr;
column-gap: 5px;
padding-top: 80px;
position:  relative;right: 60px;
float: left;
}

img {
max-width: 600px;
max-height:100%;
position:  relative;right: 60px;

}

.text h1  {
font-size: 50px;
color: #008CBA;
text-align: center;
position:  relative ; top:20px ; 

font-family: 'Times New Roman', Times, serif;

}
.Aboutcontent h2{
  font-size: 25px;
  color: #008CBA;
  position:  relative ; top:70px ; left: 200px;
  font-family: 'Times New Roman', Times, serif;
}
.Aboutcontent p{
  font-size: 15px;
  color: black;
  text-align: justify;

  position:  relative ; top:80px ; left: 200px;
      font-family: 'Times New Roman', Times, serif;
  
}
.Aboutcontent{
  height: 100%;
}
.open-button {
  position: absolute;
  position:  relative ; top:80px ; left: 350px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #008CBA;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.open-button:hover {
  background-color:  black;
  color: white}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  backdrop-filter: blur(5px);

  z-index: 1; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
}
/* Your existing styles here */

/* Style for the services section */
.services {
background-color: white;
padding: 50px;
text-align: center;
color: #008CBA;
}

.services h2 {
font-size: 30px;
margin-bottom: 20px;
font-family: 'Times New Roman';
}

.service-cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.service-card {
background-color: #fff;
padding: 20px;
border-radius: 5px;
margin: 10px;

text-align: center;
width: 250px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.service-card:hover {
transform: scale(1.05); /* Increase size on hover */
transition: transform 0.4s; /* Add a smooth transition effect */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}
.service-card img {
max-width: 180px;
height: auto;
padding-left: 95px;
text-align: center;
}
#stage{
font-size: 16px;
margin-top: 10px;
padding-right: 35px;
}

.service-card h3 {
font-size: 20px;
margin-top: 10px;
}

.service-card p {
font-size: 16px;
margin-top: 10px;
}
.overlay_login {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5px);
z-index: 2}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding-left: 200px;
  padding-right: 20px;
}

.contact-info {
display: flex;
flex-direction: column;
width: 500px;
margin-top: 20px;
}


.info {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.info i {
font-size: 24px;
margin-right: 10px;
}

.info p {
font-size: 14px;
margin: 0; 

}

.quick-links,
.social-media {
  flex: 1;
  margin-top:  20px;
}

.quick-links ul {
list-style-type: none;
padding: 0;
}

.social-media i {
  font-size: 30px; /* Adjust the size as needed */
}



.quick-links a:hover {
text-decoration: underline;}
.quick-links li {
    align-items: center; /* Add this line */
    margin-bottom: 10px;

  max-width: 100%;
}


.quick-links a {
text-decoration: none;
font-size: 14px;
color: #333;}


.quick-links a {
  font-size: 14px;
}
